SECRET_KEY=generate-a-long-random-string-here
DEBUG=False
ENABLE_HTTPS=False
ALLOWED_HOSTS=api.skillsikka.com,<your-elastic-ip>

DB_ENGINE=mysql
DB_NAME=skillsikka
DB_USER=skillsikka_admin
DB_PASSWORD=PlayL3arn3arn
DB_HOST=skillsikka-staging.c1c6k2264g8r.ap-south-1.rds.amazonaws.com
DB_PORT=3306

CORS_ALLOWED_ORIGINS=https://your-flutter-web-domain-if-any
CSRF_TRUSTED_ORIGINS=https://api.skillsikka.com

USE_S3=True
AWS_ACCESS_KEY_ID=<s3-access-key>
AWS_SECRET_ACCESS_KEY=<s3-secret-key>
AWS_STORAGE_BUCKET_NAME=skillsikka-media
AWS_S3_REGION_NAME=ap-south-1